.isMobile {
  display: none;
}

.isDesktop {
  display: block;
}
/*
* WIDTH
*/
@media all and (min-width: 1200px) {
  #contactMessage {
    font-size: 1.5vw;
  }

  .bigger {
    font-size: 2vw;
  }

  .absolute{
    top: 20vh;
  }
}

@media all and (min-width: 130px) {
  .reg-text{
    font-size: 2.5vw;
  }
  .bigger{
    font-size: 4vw;
  }
}

@media all and (max-width: 700px) {

  .isMobile {
    display: block;
  }

  .absolute {
    top: 25vh;
  }

  .reg-text{
    font-size: 4.5vw;
  }
  .bigger{
    font-size: 6vw;
  }

  .isDesktop {
    display: none;
  }

  .megaphoneImg {
    width: 40px;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 8px;
  }

  .disclaimerLink {
    color: white;
  }

  .smallTxt {
    font-size: 3.5vw;
  }
}

@media all and (max-width: 400px) {
  .absolute {
    top: 25vh;
  }

  .kindnessTitle{
    font-size: 8.5vw;
  }
}
/* width */
/*
* HEIGHT
*/
@media all and (max-height: 400px) {
  .absolute {
    top: 47vh;
  }

  .bg, .followMe, .rightSwipeHitBox, .leftSwipeHitBox {
    height: 150%;
  }

  .followMe{
    position: inherit;   
    margin-top: 5px; 
  }

  .followMe img{
    width: 40px;    
  }
}

@media all and (max-height: 300px) {
  .bg, .rightSwipeHitBox, .leftSwipeHitBox {
    height: 170%;
  }

  .followMe{
    position: inherit;   
    margin-top: 10px; 
  }

  .followMe img{
    width: 30px;    
  }
}
/* height */