@font-face {
    font-family: BebasNeue;
    src: url(../font/BebasNeue-webfont.woff);
  }

  .navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  
  body, html {
    height: 100%;
    margin: 0;
  }

  .leftSwipe{
    position: absolute;
    display: block;
    width: 50vw;
    top: 0px;
    left: 0px;
    z-index: 5;
    height: 84vh;
  }

  .rightSwipe{
    position: absolute;
    display: block;
    width: 50vw;
    height: 84vh;
    top: 0px;
    margin-left: 50vw;
    z-index: 6;
  }

  .smallTxt {
    font-size: 2vw;
  }
  
  .bg {
    background-image: url("../img/UO6pL1X.jpg");
    /* NOTBAD: background-color: #1b029a; */
    height: 88%; 

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flowerGrenade {
    position: absolute;
    bottom: 5vh;
    width: 20vw;
  }

  .bebas {
    font-family: BebasNeue;
  }
  
  .opacity {
      z-index: 1;
      display: block;
      width: 100%;
      height: 88%;
      top: 80px;
      position: absolute;
      background-color: black;
      opacity: .2;
  }

  .absolute{
    z-index: 2;
    position: absolute;
    top: 15vh;
  }
  
  .center {
      text-align: center;
      width: 100vw;
  }

  .somethingToSay{
    position: absolute; 
    right: 0px;
  }

  .isDesktop {
    display: initial;
  }

  .isMobile { 
    display: none;
  }
  
  .megaphone{
    width: 40px;
    margin-top: -10px;
    margin-left: 8px;
  }

  .reg-text{  
      color: white;
      font-size: 3.5vw;
      margin: 20px;
  }

  .bigger{
    font-size: 5vw;
  }